server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    # Serve static files
    location / {
        try_files $uri $uri/ /index.html;
    }

    # Optional: Cache static assets
    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot)$ {
        expires 1y;
        access_log off;
        add_header Cache-Control "public";
    }

    error_page 404 /index.html;
}


# to proxy to backend 
#location /api/ {
   # proxy_pass http://backend:port;
  #  proxy_set_header Host $host;
 #   proxy_set_header X-Real-IP $remote_addr;
#}

